ANSWER FOR 1

1.   *=  expression
2.   "hello"=value
3.    -87.8=value
4.     -  =expression
5.     /  =expression
6.     +    =expression
7.     6  = value

ANSWER FOR 02

variables are the words used to store the data value ,whereas  the string is itself is a data and these are used to fill in any variable name.

ANSWER FOR 03


integer(int):it is a numeric data type.

  string(str):it is alphabet type data type

float(float):it is also allow decimal values 

  boolean(bool):either True or False

ANSWER FOR 04

An expression is a combination of operators and variables

an expression is used to interpret the values based on the opertaors used in the expresssion

ANSWER FOR 05

expression is combination of variables and operators

it works on the operators given

statement is used to represent the action of the command

it gives the output of the expression

ANSWER FOR 06

In [1]:
bacon=22

In [2]:
bacon+1

23

In [3]:
bacon

22

bacon contain 22 because we did not assign the bacon+1 hence it displays 22 only

ANSWER FOR 07

In [4]:
'spam'+'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

In 1st case concatination takes palce and 2nd it just duplicate for 3 times

ANSWER FOR 08

because a variable name does not start with the number but it contain the number

ANSWER FOR 09

for integer =int()

for float=float()

for string=str()

ANSWER FOR 10

In [6]:
'i have eaten'+99+'burritos'

TypeError: ignored

it shows error because we can concatinate only same data types we cannnot concatinate different datatype

In [7]:
'i have eaten'+'99'+'burritos'

'i have eaten99burritos'