1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to
print the string &#39;too low&#39; if guess_me is less than 7, &#39;too high&#39; if greater than 7, and &#39;just right&#39; if equal
to 7.

In [1]:
guess_me=7
if guess_me<7:
  print("too low")
elif guess_me>7:
  print("too high")
elif guess_me==7:
  print("just right")
else:
  print("enter the correct value")

just right

2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals
guess_me, print &#39;found it!&#39; and exit the loop. If start is greater than guess_me, print &#39;oops&#39; and exit
the loop. Increment start at the end of the loop.

In [ ]:
guess_me=7
start=1
while start>0:
  if start==guess_me:
    print("found it")
  elif start<guess_me:
    print("too low")
    break
    start=start+1
    
else:
  print("oops")

too low

3. Print the following values of the list [3, 2, 1, 0] using a for loop.

In [ ]:
l=[3,2,1,0]
for i in l:
  print(i)

3
2
1
0

4. Use a list comprehension to make a list of the even numbers in range(10)

In [ ]:
l=[print(i) for i in range(10) if i%2==0]

0
2
4
6
8

5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the
keys, and use the square of each key as its value.

In [ ]:
d={print(i,i**2) for i in range(10)}

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

6. Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [ ]:
s={print(i) for i in range(10)if i%2!=0}

1
3
5
7
9

7. Use a generator comprehension to return the string &#39;Got &#39; and a number for the numbers in
range(10). Iterate through this by using a for loop.

In [18]:
gen=[ "got"+str(i )for i in range(10)]
for item in gen:
  print(item)

got0
got1
got2
got3
got4
got5
got6
got7
got8
got9

8. Define a function called good that returns the list [&#39;Harry&#39;, &#39;Ron&#39;, &#39;Hermione&#39;].

In [ ]:
l=['Harry', 'Ron', 'Hermione']
def good(l):
  l1=[]
  for i in l:
    l1.append(i)
  return l1

In [ ]:
good(l)

['Harry', 'Ron', 'Hermione']

9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a
for loop to find and print the third value returned.

In [ ]:
def get_odds(n):
  for i in range(10):
    if i%2!=0:
      yield i

In [ ]:
for i in get_odds(10):
  if i==3:
    print(f"the third number is:{i}")
  print(i)

1
the third number is:3
3
5
7
9

10. Define an exception called OopsException. Raise this exception to see what happens. Then write
the code to catch this exception and print &#39;Caught an oops&#39;.

it is an mechanism to handle the error occured during the excution of the program

In [4]:
a=4
try:
  a/0
  raise("Caught an oops")
  
except:
  print("error")

error

11. Use zip() to make a dictionary called movies that pairs these lists: titles = [&#39;Creature of Habit&#39;,
&#39;Crewel Fate&#39;] and plots = [&#39;A nun turns into a monster&#39;, &#39;A haunted yarn shop&#39;].

In [ ]:
titles=['Creature of Habit', 'Crewel Fate']
plots=['A nun turns into a monster', 'A haunted yarn shop']
k={}
for i,j in zip(titles,plots):
  k[i]=j
  print(k)

{'Creature of Habit': 'A nun turns into a monster'}
{'Creature of Habit': 'A nun turns into a monster', 'Crewel Fate': 'A haunted yarn shop'}