ANSWER FOR 01

the two values of boolean data type is true and false

we write "true",True   "false",False

ANSWER FOR 02

the 3 different types of boolean operators are

and,or,not

ANSWER FOR 03

and operator

            condition 1   condition 2     result
            true           true            true
            true           false           false
            false          true            false
            false          false           false

  or operator

            true           true            true
            true           false           true
            false          true            true
            false          false           false

  not operator

            not(true)=false
            not(false)=true

ANSWER FOR 04

In [1]:
5>4 and 3==5

False

In [2]:
not 5>4

False

In [3]:
5>4 or 3==5

True

In [4]:
not 5>4 or 3==5

False

In [5]:
True and True and True==False

False

In [6]:
not False or not True

True

ANSWER FOR 05

Six comparision operators are

greater than >

less than  <

greater than or equal to >=

less than or equal to  <=

equal to ==

not equal to !=

ANSWER FOR 06

assignment operator we use to assign the value for any variable.

this used in while giving the input for the user.

equal to operator checks the whether the given operands equal or not.

this is uesd in condition block.

ANSWER FOR 07

In [7]:
spam=0      # 1 block
if spam==10:
  print("eggs")
  if spam>5:
    print("bacon") #if else is one block
  else:
    print("ham")
else:
  print("spam")  # main if else is one block

spam

ANSWER FOR 08

In [11]:
 spam=3
 if spam==1:
   print("hello")
elif spam==2:
    print("howdy")
else:
   print("greetings")

greetings

ANSWER FOR 09

We use either cntrl+c or we use break statement in the loop

ANSWER FOR 10

Break statement stops the entire loop whereas the continue stops only current iteration

ANSWER FOR 11

IN FOR LOOP

range(0,10)=  staring index , ending index

range(0,10,1) = staring index, ending index, skip the steps 

range(10) = index number

ANSWER FOR 12

In [13]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,10):
  print(a[i])

1
2
3
4
5
6
7
8
9
10

In [15]:
a=[1,2,3,4,5,6,7,8,9,10]
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

ANSWER FOR 13

spam.bacon()